<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/virtual/user.css">
    <title>Document</title>

</head>
<body>
    <div class="main-container">
    <h1> Hello <%= user.firstName %> <%= user.lastName %>,<br>
        You are welcome to WEB ALLURE.<br></h1>
         your details are mention below:<br><br>
        Name : <%= user.firstName %> <%= user.lastName %><br>
        Enrolled in phase : <%= user.phase %><br>
        Phase Topic : <%= user.topic %>
    
    
    </div>

</body>
</html> 